.app-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/988/578/original/psychedelic-groovy-retro-background-vector.jpg");
  background-size: cover;
  opacity: 0.93;
  position: fixed;
  top: 0;
  left: 0;
}

#main-heading {
  font-family: "GinchiestShadow";
  font-size: 10vh;
  color: #411530;
  position: fixed;
  top: 3vh;
  left: 3.2vw;
}

#main-heading-overlay {
  font-family: "Ginchiest";
  font-size: 10vh;
  color: #f5c7a9;
  position: fixed;
  top: 3vh;
  left: 3vw;
}

#secondary-heading {
  font-family: "GinchiestShadow";
  font-size: 7vh;
  color: #411530;
  position: fixed;
  top: 20vh;
  left: 3.05vw;
}

#secondary-heading-overlay {
  font-family: "Ginchiest";
  font-size: 7vh;
  color: #f5c7a9;
  position: fixed;
  top: 20vh;
  left: 3vw;
}

#icon-list {
  list-style: none;
  justify-content: left;
  justify-items: left;
}

#python-icon {
  height: 10vh;
  width: auto;
}

#java-icon {
  height: 14vh;
  width: auto;
}

#c-icon {
  height: 10vh;
  width: auto;
}

#fe-icon {
  height: 11vh;
  width: auto;
}

#fe-icon {
  height: 11vh;
  width: auto;
}

#react-icon {
  height: 10vh;
  width: auto;
}
